{% block content %}
  <div class="text-center qr-code-wrapper">
    <h1>QR Code</h1>
    <div class="qr-code">
        <img src="{{ image_data }}" alt="QR Code" width="300" height="300"/>
         <br />
    </div>
  </div>
{% endblock %}

<script>
(function() {
  // Get the base64 encoded image data
  var imageData = "{{ image_data }}";
  console.log('image data',imageData)
  // Create a data URI from the image data
  var dataURI = imageData;
  
  // Create a download link element
  var downloadLink = document.createElement('a');
  downloadLink.setAttribute('href', dataURI);
  downloadLink.setAttribute('download', 'qr-code.png');
  
  // get div element by class name qr-code-wrapper
  var qrCodeWrapper = document.getElementsByClassName('qr-code-wrapper')[0];
  //append download button to qr-code-wrapper
  qrCodeWrapper.innerHTML += '<button id="download-btn" class="text-center btn btn-primary" >Download</button>';
  
  // Attach a click event handler to the download button
  var downloadBtn = document.getElementById('download-btn');
  downloadBtn.addEventListener('click', function() {
    downloadLink.click();
  });
})();
</script>