{% block content %}
  <div class="text-center qr-code-wrapper">
    <h1>QR Code</h1>
    <div class="qr-code">
        <img src="{{ image_data }}" alt="QR Code" width="300" height="300"/>
         <br />
    </div>
  </div>
{% endblock %}
{{ attach_library('qr_code/qr-code-download')}}